@charset "UTF-8";
html, body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul, li {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100; }

body {
  font-family: "微软雅黑"; }

ul, ol, li {
  list-style: none; }

a, u {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: 100; }

img {
  display: block;
  border: 0; }

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

input:focus {
  outline: none; }

.top1, .logo, .miaosha, .begin, #main, .bottom {
  width: 1200px;
  margin: 0 auto; }

.top {
  height: 29px;
  border: 1px solid #ccc;
  background: url(../img/top_bj.png) repeat-x 0 0; }
  .top .top1 {
    height: 29px; }
    .top .top1 .top1_left {
      float: left; }
      .top .top1 .top1_left .login b {
        font-size: 12px; }
      .top .top1 .top1_left .login a {
        font-size: 12px; }
      .top .top1 .top1_left .register b {
        font-size: 12px; }
      .top .top1 .top1_left .register a {
        font-size: 12px; }
    .top .top1 .top1_right {
      padding-top: 2px;
      line-height: 25px;
      float: right;
      font-size: 12px; }
      .top .top1 .top1_right a {
        color: #333; }
      .top .top1 .top1_right ul {
        display: none;
        font-size: 12px; }
      .top .top1 .top1_right .myacount {
        float: left;
        width: 82px;
        margin-right: 8px;
        position: relative;
        padding-left: 20px; }
        .top .top1 .top1_right .myacount .menu a b {
          background: url(../img/top_r_phone.png) no-repeat 0px 0px;
          width: 10px;
          height: 5px;
          display: block;
          overflow: hidden;
          cursor: pointer;
          position: absolute;
          right: 13px;
          top: 10px; }
          .top .top1 .top1_right .myacount .menu a b:hover {
            transform: rotate(180deg);
            transform-origin: 50% 50%;
            transition: transform .2s ease-in; }
        .top .top1 .top1_right .myacount .menu a span {
          position: absolute;
          right: -2px;
          top: 8px;
          display: block;
          width: 2px;
          height: 10px;
          overflow: hidden;
          background: url(../img/top_r_phone.png) no-repeat -10px 0px; }
        .top .top1 .top1_right .myacount .menu ul {
          background: #fff; }
          .top .top1 .top1_right .myacount .menu ul li:hover {
            color: red; }
      .top .top1 .top1_right .help {
        float: left;
        width: 86px;
        position: relative;
        text-align: center; }
        .top .top1 .top1_right .help ul li:hover {
          color: red; }
      .top .top1 .top1_right .collection {
        float: left;
        width: 66px;
        position: relative; }
      .top .top1 .top1_right .tel {
        padding-left: 25px;
        float: left;
        position: relative;
        background: url(../img/top_r_phone.png) no-repeat -10px 7px; }

.logo {
  height: 100px; }
  .logo .logo_left a {
    height: 85px;
    width: 205px;
    margin-top: 15px;
    margin-right: 140px;
    float: left;
    background: url(../img/logo.png) no-repeat 0 0;
    display: block; }
  .logo .search {
    height: 100px; }
    .logo .search .txt {
      margin-top: 38px;
      float: left;
      border: 2px solid #ffc400;
      width: 350px;
      height: 29px;
      line-height: 29px; }
    .logo .search a {
      margin-top: 38px;
      float: left;
      width: 80px;
      height: 33px;
      display: block;
      background: #ffc400;
      line-height: 33px;
      text-align: center; }

.navs {
  text-align: left;
  width: 100%;
  height: 40px;
  background: #ffc400; }
  .navs span {
    display: block;
    float: left;
    margin-right: 22px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    cursor: pointer; }
    .navs span:hover {
      background: #8B7E66; }
  .navs .all {
    height: 40px;
    line-height: 40px;
    float: left;
    margin-left: 72px;
    margin-right: 55px;
    font-size: 18px; }
  .navs .shopcart {
    float: left;
    margin-left: 450px;
    width: 122px;
    height: 24px;
    font-size: 12px;
    margin-top: 7px;
    text-align: center;
    line-height: 24px; }
    .navs .shopcart a {
      width: 122px;
      height: 24px;
      display: block;
      background: #fff;
      background: url(../img/shopcart.png) no-repeat -6px -75px; }
      .navs .shopcart a em {
        color: red; }
  .navs .cal {
    margin-top: 7px;
    float: left;
    width: 70px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    background: url(../img/shopcart.png) no-repeat -122px -75px; }

.banner {
  min-width: 1200px;
  position: relative;
  height: 480px;
  background: grey;
  cursor: pointer; }
  .banner .img-list li {
    width: 100%;
    height: 480px; }
  .banner .banner-nav-list {
    position: absolute;
    left: 518px;
    bottom: 16px; }
    .banner .banner-nav-list li {
      background: black;
      float: left;
      width: 50px;
      height: 10px;
      margin-right: 5px;
      cursor: pointer; }
    .banner .banner-nav-list li.active {
      background: #d30c56;
      opacity: .5; }
  .banner .arr {
    opacity: 0; }
    .banner .arr .toLeft {
      width: 60px;
      height: 60px;
      background: url(../img/btn.gif);
      position: absolute;
      left: 222px;
      top: 187px; }
    .banner .arr .toRight {
      width: 60px;
      height: 60px;
      background: url(../img/btn.gif) 0px 60px;
      position: absolute;
      right: 261px;
      top: 187px; }

.categorybox {
  width: 190px;
  height: 481px;
  background: #f6f6f6;
  position: absolute;
  left: 32px;
  top: 0; }
  .categorybox div {
    width: 190px; }
    .categorybox div a {
      display: block;
      height: 32px;
      font-size: 14px;
      line-height: 30px;
      color: #000; }
      .categorybox div a:hover {
        color: #FF8C00;
        background: rgba(255, 255, 255, 0.3); }

.notice {
  position: absolute;
  left: 1000px;
  top: 0;
  width: 227px;
  cursor: pointer; }
  .notice .notice_top {
    width: 227px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background: #fff; }
  .notice .notice_middle {
    height: 118px;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.5); }
    .notice .notice_middle span {
      line-height: 12px;
      margin-left: 23px;
      margin-bottom: 9px;
      font-size: 12px;
      display: block; }

.miaosha_con {
  background: #fafafa; }
  .miaosha_con .miaosha {
    height: 260px;
    padding-top: 26px;
    padding-bottom: 10px;
    background: #fff; }
    .miaosha_con .miaosha .time {
      float: left;
      margin-right: 9px;
      width: 190px;
      height: 250px;
      background: url(../img/miaosha_bj.jpg) no-repeat 0 0;
      cursor: pointer;
      position: relative; }
      .miaosha_con .miaosha .time span {
        position: absolute;
        display: block;
        height: 30px;
        width: 145px;
        left: 23px;
        top: 169px;
        font-size: 25px;
        color: #fff; }
    .miaosha_con .miaosha .product {
      float: left;
      position: relative; }
      .miaosha_con .miaosha .product .product_list {
        width: 200px;
        height: 244px;
        margin: 3px 0 3px 0;
        float: left; }
        .miaosha_con .miaosha .product .product_list dl {
          cursor: pointer; }
          .miaosha_con .miaosha .product .product_list dl dd {
            text-align: center; }
          .miaosha_con .miaosha .product .product_list dl dd:nth-of-type(1) {
            margin-top: 18px;
            font-size: 15px;
            font-family: Microsoft Yahei;
            font-weight: bold; }
          .miaosha_con .miaosha .product .product_list dl dd:nth-of-type(2) {
            font-size: 12px;
            font-family: Microsoft Yahei;
            color: #887373;
            font-weight: bold; }
          .miaosha_con .miaosha .product .product_list dl dt img {
            margin: auto;
            width: 150px;
            height: 150px; }
        .miaosha_con .miaosha .product .product_list .qinggou_box {
          display: block;
          height: 30px;
          width: 200px;
          position: absolute;
          bottom: 0; }
          .miaosha_con .miaosha .product .product_list .qinggou_box .qinggou {
            height: 30px;
            width: 200px;
            background: url(../img/qinggou.png) no-repeat 0 0; }
            .miaosha_con .miaosha .product .product_list .qinggou_box .qinggou .qg_list span {
              color: #fff;
              text-align: center; }
            .miaosha_con .miaosha .product .product_list .qinggou_box .qinggou .qg_list span:nth-child(1) {
              font-size: 20px;
              font-family: Microsoft Yahei;
              font-weight: bold;
              margin-left: 8px; }
            .miaosha_con .miaosha .product .product_list .qinggou_box .qinggou .qg_list span:nth-child(2) {
              font-size: 12px;
              text-decoration: line-through; }

.begin_con {
  background: #fafafa; }

.louti {
  background: #fafafa; }
  .louti #LoutiNav {
    position: fixed;
    width: 40px;
    left: 0;
    top: 30%;
    background: rgba(139, 139, 122, 0.7);
    font-size: 12px;
    display: none;
    cursor: pointer; }
    .louti #LoutiNav li {
      padding: 3px;
      border: 1px dotted #8B8B83; }
    .louti #LoutiNav .las {
      background: rgba(255, 196, 0, 0.8); }
  .louti #main .Louti {
    height: 541px;
    padding-bottom: 20px; }
    .louti #main .Louti .Louti_top {
      height: 56px; }
      .louti #main .Louti .Louti_top .lists {
        float: right;
        height: 30px;
        padding: 25px 0 0; }
        .louti #main .Louti .Louti_top .lists a {
          color: #000;
          margin: 20px 10px 10px;
          font-size: 14px;
          font-family: "Microsoft YaHei"; }
    .louti #main .Louti .Louti_middle .Lleft {
      width: 199px;
      height: 415px;
      float: left; }
    .louti #main .Louti .Louti_middle .Lcenter {
      width: 399px;
      height: 415px;
      float: left; }
    .louti #main .Louti .Louti_middle .Lright {
      float: left;
      width: 600px;
      height: 415px; }
      .louti #main .Louti .Louti_middle .Lright .Lright1 {
        float: left;
        width: 198px;
        height: 206px;
        margin-top: 5px;
        border-bottom: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5; }
        .louti #main .Louti .Louti_middle .Lright .Lright1 .Lright1_img {
          height: 150px;
          width: 150px;
          margin: auto; }
          .louti #main .Louti .Louti_middle .Lright .Lright1 .Lright1_img img {
            width: 100%; }
        .louti #main .Louti .Louti_middle .Lright .Lright1 .Lright1_name {
          height: 25px;
          width: 198px;
          line-height: 25px;
          text-align: center; }
          .louti #main .Louti .Louti_middle .Lright .Lright1 .Lright1_name a {
            font-size: 12px;
            line-height: 12px;
            color: #000; }
        .louti #main .Louti .Louti_middle .Lright .Lright1 .Lright1_price {
          line-height: 22px;
          display: inline-block;
          cursor: pointer;
          height: 22px;
          width: 178px;
          text-align: center; }
          .louti #main .Louti .Louti_middle .Lright .Lright1 .Lright1_price a {
            font-family: Microsoft Yahei;
            font-size: 16px;
            color: #e30303;
            font-weight: bold; }
    .louti #main .Louti .Louti_bottom {
      border-top: 1px solid #f5f5f5; }
      .louti #main .Louti .Louti_bottom ul li {
        float: left; }
        .louti #main .Louti .Louti_bottom ul li img {
          width: 150px; }

.bottom {
  height: 278px;
  padding-top: 67px; }
  .bottom .bottom_top {
    width: 983px;
    height: 150px;
    margin: 0 auto; }
    .bottom .bottom_top .top_left {
      width: 250px;
      float: left;
      padding-top: 20px; }
      .bottom .bottom_top .top_left p {
        cursor: pointer;
        font-size: 12px;
        line-height: 12px;
        color: #999; }
      .bottom .bottom_top .top_left p:nth-child(1) {
        margin-left: 25px;
        margin-bottom: 12px; }
        .bottom .bottom_top .top_left p:nth-child(1) a {
          color: #333; }
      .bottom .bottom_top .top_left p:nth-child(2) {
        margin-left: 25px;
        margin-bottom: 26px; }
        .bottom .bottom_top .top_left p:nth-child(2) a {
          color: #333; }
      .bottom .bottom_top .top_left p:nth-child(3) {
        margin-left: 80px;
        margin-bottom: 19px; }
        .bottom .bottom_top .top_left p:nth-child(3) a {
          color: #ff6600; }
      .bottom .bottom_top .top_left p:nth-child(4) {
        margin-left: 115px; }
        .bottom .bottom_top .top_left p:nth-child(4) a {
          color: #ff6600; }
    .bottom .bottom_top .top_right {
      width: 713px;
      float: left; }
      .bottom .bottom_top .top_right span {
        cursor: pointer;
        width: 126px;
        float: left;
        border-left: 1px solid #999;
        padding-left: 14px; }
        .bottom .bottom_top .top_right span li {
          cursor: pointer;
          color: #999;
          font-size: 12px;
          line-height: 19px; }
        .bottom .bottom_top .top_right span li:nth-child(1) {
          color: #000; }
  .bottom .bottom_bottom {
    width: 975px;
    height: 105px;
    margin: 0 auto;
    position: relative; }
    .bottom .bottom_bottom ul {
      float: left;
      width: 100%;
      margin-bottom: 12px; }
      .bottom .bottom_bottom ul li {
        cursor: pointer;
        float: left;
        color: #333;
        font-size: 12px;
        margin-right: 20px; }
    .bottom .bottom_bottom p {
      cursor: pointer;
      margin-bottom: 11px;
      color: #999;
      font-size: 12px;
      line-height: 12px; }
    .bottom .bottom_bottom img {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      width: 36px;
      height: 50px; }

/*# sourceMappingURL=top.css.map */
