@charset "UTF-8";
@import "public.scss";
$size:12px;
.top{
        height:29px;
        border:1px solid #ccc;
        background:url(../img/top_bj.png) repeat-x 0 0;
        .top1{
//          background:red;
            height:29px;
            .top1_left{
                float:left;
                .login{ 
                    b{font-size:$size;}
                    a{ font-size:$size;}
                }
                .register{
                    b{font-size:$size;}
                    a{font-size:$size;}
                }
            }
            .top1_right{
                padding-top:2px;
                line-height:25px;
                float:right;
                font-size:$size;
                a{
                    color:#333;
                }
                ul{
                    display:none;
                    font-size:$size;
                }
                .myacount{float:left;width:82px;margin-right:8px;
                position:relative;
                padding-left:20px;
                    .menu{
                        a{
                           b{
                             background:url(../img/top_r_phone.png) no-repeat 0px 0px;
                            width:10px;height:5px;display:block;overflow:hidden;
                            cursor:pointer;
                                position: absolute;
                                right:13px;
                                top:10px;
                                &:hover{
                                    transform:rotate(180deg);
                                    transform-origin:50% 50%;
                                    transition:transform .2s ease-in;
                                }
                            }
                            span{
                                position: absolute;
                                right: -2px;
                                top: 8px;
                                display: block;
                                width: 2px;
                                height: 10px;
                                overflow: hidden;           
                                 background:url(../img/top_r_phone.png) no-repeat -10px 0px;
                            }
                            
                        }
                        ul{
                            background:#fff;
                            li{
                                &:hover{color:red;}
                            }
                        }
                    }
                }
                .help{
                    float:left;width:86px; position:relative;text-align:center;
                    ul{
                        li{
                            &:hover{color:red;}
                        }
                    }
                }
                .collection{float:left;width:66px; position:relative;}
                .tel{padding-left:25px;
                    float:left; position:relative;
                    background:url(../img/top_r_phone.png) no-repeat -10px 7px;
                }
                
            } 
        }
}

.logo{
    height:100px;
    .logo_left{
        a{  
           
            height:85px;
            width:205px;
            margin-top:15px;
            margin-right:140px;
            float:left;
            background:url(../img/logo.png) no-repeat 0 0;
            display:block;
        }
    }
    .search{
//      width:400px;
        height:100px;
            .txt{
                margin-top:38px;
                float:left;
                border:2px solid #c7012c;
                width:350px;
                height:29px;
                line-height:29px;
             }
             a{ 
                 color:#000;
                 margin-top:38px;
                 float:left;
                 width:80px;
                 height:33px;
                 display:block;
                 background:#c7012c;
                 line-height:33px;
                 text-align:center;
             }
    }
}

//nav
.navs{
    text-align:left;
    width:100%;
    height:40px;
    .nav_con{
        height:40px;
        background:#c7012c;
        position:relative;
        b{
            background:url(../img/list/sl_header_v2.png) no-repeat -20px 0 ;
            width:16px;height:16px;position:absolute;
            left:160px;
            top:12px;
             &:hover{
                transform:rotate(180deg);
                transform-origin:50% 50%;
                transition:transform .2s ease-in;
            }
        }
        .new{
            width:16px;height:26px;position:absolute;
            background:url(../img/list/sl_header_new.gif) no-repeat 0 0;
            top:-3px;
            left:546px;
        }
         .hot{
            width:16px;height:26px;position:absolute;
            background:url(../img/list/sl_header_hot.gif) no-repeat 0 0;
            top:-3px;
            left:687px;
        }
    }
    span{display:block;float:left;margin-right:22px;font-size:16px;
            margin:10px 5px 0 30px;
            padding:0 20px;
            cursor: pointer;
             font-family: Microsoft Yahei;
             border-right:1px solid #fff;
            &:hover{color:orange;
            }
        color:#fff;
        }
    .all{  height:40px;
        line-height:40px;
        float:left;
        margin-left:20px;
        margin-right:55px;
        font-size:18px;
        color:#fff;
    }
    .shopcart{
        float:left;
        margin-left:245px;
        width:140px;
        height:24px;
        font-size:12px;
        margin-top:7px;
        text-align:center;
        line-height:24px;
        a{
            color:#000;
            width:140px;
            height:24px;
            display:block;
            background:#fff; 
            background:url(../img/shopcart.png) no-repeat 1px -75px ;
            em{color:red;}
        }
    }
    .cal{
        margin-top:7px;
        float:left;
        width:70px;
        height:24px;
        font-size:12px;
         line-height:24px;
        text-align:center;
        cursor:pointer;
        background:url(../img/shopcart.png) no-repeat -122px -75px ;
    }
}



#zhzq{
    min-height:800px;   
    _height:800px;
       
    .zhzq_con{
//      background:#ccc;
        min-height:800px;   
        _height:800px;
        .zhzq_con_top{
            height:40px;
            border-bottom:1px solid #ddd;
            span{
                display:block;
                float:left;
                margin-top:20px;
                line-height:12px;
                color:#666;
                font-size:12px;
            }
        }
        
        .zhzq_con_center{
            padding-top:10px;
            margin-bottom:15px;
            .zhzq_con_CL{
                float:left;
                width:230px;
                min-height:1000px;
//              background:#ccc;
                .left_1{
                    margin-top:5px;
                    width:220px;
                    min-height:100px;
                    border:5px solid #f1f1f1;
                    .nav-ul{
                        width:218px;
                        min-height:100px;
                        border:1px solid #ddd;
                        a{
                            display: block;
                            overflow: hidden;
    //                      padding-left: 20px;
                            line-height: 46px;
                            max-height: 46px;
                            color: black;
                            transition: all .3s;
                            span{margin-left: 30px;}
                        }
                        .nav-item{
                            position: relative;
                            height:40px;
                            line-height:40px;
                            a:before{content: "";
                                position: absolute;
                                left: 0px;
                                width: 2px;
                                height: 46px;
                                background: #34A0CE;
                                opacity:0;
                                transition: all .3s;
                            }
                            ul{
                                display: none;
                                background: rgba(0,0,0,.1);
                                li{
                                    text-align:center;
                                    a{float:left; text-align:center;
                                        span{ 
                                            text-align:center;
                                            font-size:14px;
                                            font-family: Microsoft Yahei;
                                            margin: 5px 10px; 
                                        }
                                    }
                                }
                            }
                            li{&:hover a{color: #FFF;background: rgba(0, 0, 0,.1);}}
                            .nav-icon{
                                font-size: 20px;
                                position: absolute;
                                margin-left:-1px;
                            }
                            .nav-more{
                                float:right;
                                margin-right: 20px;
                                font-size: 12px;
                                transition: transform .3s;
                                &:after{content: "\e621";}
                            }
                        }
                        .nav-show .nav-more{transform:rotate(90deg);}
                        .nav-show,.nav-item>li:hover{color: orange;background:rgba(255,102,0,.1);}
                        .nav-show>a:before,.nav-item>a:hover:before{opacity:1;}
                        .nav-item.nav-show{border-bottom: none;}
                        .nav-item.nav-show ul{display: block;}
                    }
                }
                
                .left_2{//最新推荐
                    h2{
                        border-bottom:2px solid #c7012c;
                        padding-bottom:10px;
                        margin-top:18px;
                         color:#c7012c;
                        span{
                           
                            font-size:16px;
                            background:url(../img/list/ui_icon.png) no-repeat right -300px;
                            width:100px;
                            display:block;
                        }
                    }
                    li{
                        position:relative;
                        padding-bottom: 5px;
                        padding-top: 5px;
                        padding-right: 8px;
                        height:90px;
                        .pimg{
                            border: 1px solid #DDDDDD;
                            display: block;
                            width: 80px;
                            height: 80px;
                            font-size: 0;
                            line-height: 0;
                            overflow: hidden;
                            cursor:pointer;
                            background: #fff url(../img/list/ui_pro_loading.gif) center center;
                            img{
                                width: 75px;
                                height: 75px;
                            }
                            .ui_sort_num1{
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                overflow: hidden;
                                left: 0px;
                                top: 8px;
                                line-height: 15px;
                                background: url(../img/list/ui_bg.png) no-repeat 0 -60px;
                                color: #FFFFFF;
                                text-align: center;
                                font-size: 12px;
                                font-weight: bold;
                            }
                            .ui_sort_num2{
                                background: url(../img/list/ui_bg.png) no-repeat 0 -45px;
                            }
                            .ui_sort_num3{
                                background: url(../img/list/ui_bg.png) no-repeat 0 -30px;
                            }
                            float:left;
                        }
                        .p_right{
                            float:right;
                            width:120px;
                            .pprice{
//                              width:100px;
                                overflow:hidden;
                                em{font-size:14px;color:#c7012c;font-weight:bold;}
                            }
                            .pname{
                                 overflow:hidden;
                                 height:50px;
                                 margin-top:10px;
                                a{
                                    font-size:12px;
                                    line-height:20px;
                                    color:#000;
                                    &:hover{color:blue;text-decoration:underline}
                                }
                            }
                        }
                    }
                }
                
                .left_3{//最多关注
                    h2{
                            border-bottom:2px solid #c7012c;
                            padding-bottom:10px;
                            margin-top:18px;
                             color:#c7012c;
                            span{
                               
                                font-size:16px;
                                background:url(../img/list/ui_icon.png) no-repeat right -200px;
                                width:100px;
                                display:block;
                            }
                    }
                    ul{
                        padding-top:10px;
                        li{
                            position:relative;
                            .smallshow{
                                span{font-size:12px;color:#666;}
                                span:nth-child(1){color:#c7012c;}
//                              display:none;
                                padding-bottom:5px;
                                border-bottom:1px solid #ddd;
                            }
                            .bigshow{
                                display:none;
                                height:106px;
                                border-bottom:1px solid #ddd;
                                border-top:1px solid #ddd;
                                .bigshow_left{
                                    b{color:#fff;display:block;float:left;height:106px;width:15px;text-align:center;line-height:106px;background:#c7012c;}
                                    img{display:block;
                                        position:absolute;
                                        left:15px;
                                        top:16px;
                                    }
                                }
                                .bigshow_right{
                                    .big_price{
                                        em{color:#c7012c;font-weight:bold;margin-bottom:21px;}
                                         position:absolute;
                                         left:100px;
                                         top:18px;
                                    }
                                    .big_name{
                                        overflow:hidden;height:40px;width:120px;
                                        a{color:#666;font-size:12px;}
                                        position:absolute;
                                         left:100px;
                                         top:45px;
                                     }
                                }
                            }
                        }
                    }
                    
                }
                
                .left_5{
                    h2{
                        border-bottom:2px solid #c7012c;
                        padding-bottom:10px;
                        margin-top:18px;
                         color:#c7012c;
                        span{
                           
                            font-size:16px;
                             background:url(../img/list/ui_icon.png) no-repeat right -300px;
                            width:100px;
                            display:block;
                        }
                    }
                    ul{
                        li{
                            height:70px;
                            overflow:hidden;
                            padding:12px 16px 12px 10px;
                            border-bottom: 1px dotted #79450b;
                            a{
                                &:hover{text-decoration:underline;}
                            }
                            a:nth-child(1){
                                display:block;
                                font-size:12px;
                                margin-bottom:10px;
                            }
                            a:nth-child(2){
                                display:block;
                                font-size:12px;
                                color:#666;
                                margin-bottom:10px;
                            }
                        }
                    }
                }
                
                
            }
            
            
            ///////
            .zhzq_con_CR{
                min-height:1000px;
                padding-left:10px;
                float:right;
                width:960px;
                .crtop{
                    height:240px;
                    margin-bottom:10px;
                    .crtop_left{
                        width:720px;
                        float:left;
                    }
                    .crtop_right{
                        border:1px solid #ddd;
                        float:right;
                        width:228px;
                        height:240px;
                        position:relative;
                        dl{
                            dt{
                                padding-left:11px;
                                height:35px;
                                line-height:35px;
                                background:#fafafa;
                                color:#c7012c;
                                font-size:18px;
                            }
                            dd{
                                color:#666;
                                font-size:12px;
                                padding-left:2px;
                                img{
                                    margin:0 auto;
                                }
                            }
                            dd:nth-of-type(1){
                                padding-bottom:35px;
                            }
                        }
                        .price{
                            background:url(../img/list/jingxuan01.png) no-repeat 0 0 ;
                            position:absolute;
                            width:65px;height:65px;
                            left:150px;top:129px;
                            line-height:30px;
                            text-align:center;
                            i:nth-of-type(1){font-size:14px;color:#fff;line-height:35px;}
                            i:nth-of-type(2){font-size:12px;color:#fff;text-decoration:line-through;}
                            
                        }
                    }
                }
                //选项卡
                .crxxk{
                    min-height:200px;
                    _height:200px;
//                  background:#ccc;
                    border-top:1px solid #c7012c;
                     border-left:1px solid #ddd;
                      border-bottom:1px solid #ddd;
                       border-right:1px solid #ddd;
                    .crxxk_top{
                        height:42px;
                        li{
                            float:left;
                            width:238px;
                            height:40px;
                            border:1px solid #e5e5e5;
                            text-align:center;
                            line-height:40px;
                        }
                        li.show{
                            background-color:#fff;border:0;color:#c7012c;
                        }
                    }
                    .crxxk_bottom{
                        padding-top:32px;
                        .b1{
                            display:none;
                            ul{
                                li{
                                    float:left;
                                    width:190px;
                                    dl{
                                        padding-left:20px;
                                        dt{
                                            img{margin:0 auto;}
                                            margin-bottom:40px;
                                        }
                                        dd{
                                            font-size:14px;color:#666;
                                            text-align:center;
                                        }
                                        dd:nth-of-type(1){margin-bottom:64px;}
                                        dd:nth-of-type(2){font-size:12px;color:#c7012c;}
                                    }
                                }
                            }
                        }
                    }
                }
                
                //楼层开始
                .thirdFloor{
                    min-height:200px;
                    .thirdFloor_top{
                        height:38px;
                        width:960px;
                        border-top:2px solid #ced0ce;
                        border-bottom:1px solid #ced0ce;
                        margin-top:8px;
                        line-height:38px;
                        position:relative;
                        span:nth-of-type(1){
                            position:absolute;
                            top:-2px;
                            float:left;
                            font-size:16px;
                            color:#c7012c;
//                          width:56px;
                            padding:0px 10px;
                            text-align:center;
                            border-top:2px solid #c7012c;
                            height:38px;
                        }
                        span:nth-of-type(2){
                            width:52px;
                            float:right;
                            font-size:12px;
                            color:#999;
                            i{
                                margin-top:10px;
                                float:right;
                                background:url(../img/list/ui_icon.png) no-repeat -14px -120px;
                                width:16px;
                                height:16px;
                            }
                        }
                    }
                    
                    .thirdFloor_bottom{
                       .thirdFloor_bul{
                           padding-left:9px;
                           padding-bottom:28px;
                           .thirdFloor_buli{
                                float:left;
                               width:190px;
                               margin-top:36px;
                               .thirdFloor_bul_img{
                                   position:relative;
                                   img{margin:0 auto;}
                                   margin-bottom:46px;
                                   span{background:url(../img/list/ui_proicon_double11.png) no-repeat 0 0 ;position:absolute;left:9px;top:-7px;width:40px;height:52px;}
                               }
                               .thirdFloor_bul_jieshao{
                                   text-align:center;
                                   font-size:12px;
                                   padding-bottom:28px;
                                   p:nth-of-type(1){margin-bottom:10px;a{color:#666;&:hover{text-decoration:underline;color:blue;}}}
                                   p:nth-of-type(2){color:#ff9900;margin-bottom:40px;}
                                   p:nth-of-type(3){
                                       color:#ff9900;
                                       margin-bottom:15px;
                                       span{color:#666;font-size:12px;margin-right:15px;}
                                       em{color:#c7012c;font-size:12px;}
                                    }
                                  p:nth-of-type(4){
                                      margin-left:15px;
                                      a{color:#666;width:65px;height:23px;display:block;float:left;margin-right:20px;background:url(../img/list/ui_pro_bg32.png) no-repeat 0 0;
                                            &:hover{text-decoration:underline;color:blue;}
                                            line-height:23px;
                                      }
                                  }
                                  
                               }
                           }
                       } 
                    }
                    
                }
                
                
            }
        }     
    }
}







.zhzq_con_bottom {
    width:1200px;
    height: 47px;
    display:block;
    .kouhao {
        height: 47px;
        overflow: hidden;
        line-height: 400px;
        background: url(../img/list/sl_footer.png) no-repeat 0 0;
    }
}

.bottom{
    height:278px;
    padding-top:10px;
    .bottom_top{
        width:983px;
        height:150px;
        margin:0 auto;
         .top_left{
             width:250px;
            float:left;
            padding-top:20px;
            p{
                cursor: pointer;
                font-size:12px;
                line-height:12px;
                color:#999;
            }
            p:nth-child(1){
                margin-left:25px;
                margin-bottom:12px;
                a{
                    color:#333;
                }
            }
            p:nth-child(2){
                margin-left:25px;
                  margin-bottom:26px;
                a{
                    color:#333;
                }
            }
            p:nth-child(3){
                margin-left:80px;
                 margin-bottom:19px;
                a{color:#ff6600;}
            }
            p:nth-child(4){
                margin-left:115px;
                a{color:#ff6600;}
            }
         }
         .top_right{
              width:713px;
             float:left;
             span{
                  cursor: pointer;
                 width:126px;
                 float:left;
                 border-left:1px solid #999;
                 padding-left:14px;
                 li{
                     &:hover{color:green;}
                     cursor: pointer;
                     color:#999;
                     font-size:12px;
                     line-height:19px;
                 }
                 li:nth-child(1){
                    color:#000;
                 }
             }
         }
        
    }
    .bottom_bottom{
        width:975px;
        height:105px;
        margin:0 auto;
        position:relative;
        ul{
            float:left;
            width:100%;
            margin-bottom:12px;
            li{
                cursor: pointer;
                float:left;
                color:#333;
                font-size:12px;
                margin-right:20px;
                &:hover{color:green;}
            }
        }
        p{
            cursor: pointer;
            margin-bottom:11px;
            color:#999;
            font-size:12px;
            line-height:12px;
        }
        img{
            cursor: pointer;
            position:absolute;
            right:0;
            top:0;
            width:36px;
            height:50px;
        }
    }
}
