@charset "UTF-8";
@import "public.scss";
$size:12px;
.top{
        height:29px;
        border:1px solid #ccc;
        background:url(../img/top_bj.png) repeat-x 0 0;
        .top1{
//          background:red;
            height:29px;
            .top1_left{
                float:left;
                .login{ 
                    b{font-size:$size;}
                    a{ font-size:$size;}
                }
                .register{
                    b{font-size:$size;}
                    a{ font-size:$size;}
                }
            }
            .top1_right{
                padding-top:2px;
                line-height:25px;
                float:right;
                font-size:$size;
                a{
                    color:#333;
                }
                ul{
                    display:none;
                    font-size:$size;
                }
                .myacount{float:left;width:82px;margin-right:8px;
                position:relative;
                padding-left:20px;
                    .menu{
                        a{
                           b{
                             background:url(../img/top_r_phone.png) no-repeat 0px 0px;
                            width:10px;height:5px;display:block;overflow:hidden;
                            cursor:pointer;
                                position: absolute;
                                right:13px;
                                top:10px;
                                &:hover{
                                    transform:rotate(180deg);
                                    transform-origin:50% 50%;
                                    transition:transform .2s ease-in;
                                }
                            }
                            span{
                                position: absolute;
                                right: -2px;
                                top: 8px;
                                display: block;
                                width: 2px;
                                height: 10px;
                                overflow: hidden;           
                                 background:url(../img/top_r_phone.png) no-repeat -10px 0px;
                            }
                            
                        }
                        ul{
                            background:#fff;
                            li{
                                &:hover{color:red;}
                            }
                        }
                    }
                }
                .help{
                    float:left;width:86px; position:relative;text-align:center;
                    ul{
                        li{
                            &:hover{color:red;}
                        }
                    }
                }
                .collection{float:left;width:66px; position:relative;}
                .tel{padding-left:25px;
                    float:left; position:relative;
                    background:url(../img/top_r_phone.png) no-repeat -10px 7px;
                }
                
            } 
        }
}

.logo{
    height:100px;
    .logo_left{
        a{  height:85px;
            width:205px;
            margin-top:15px;
            margin-right:140px;
            float:left;
            background:url(../img/logo.png) no-repeat 0 0;
            display:block;
        }
    }
    .search{
//      width:400px;
        height:100px;
            .txt{
                margin-top:38px;
                float:left;
                border:2px solid #ffc400;
                width:350px;
                height:29px;
                 line-height:29px;
             }
             a{ 
                 color:#000;
                 margin-top:38px;
                 float:left;
                 width:80px;
                 height:33px;
                 display:block;
                 background:#ffc400;
                 line-height:33px;
                 text-align:center;
             }
    }
}

//nav
.navs{
    text-align:left;
    width:100%;
    height:40px;
    background:#ffc400;
    span{display:block;float:left;margin-right:22px;font-size:18px;height:40px;
            line-height:40px;
            cursor: pointer;
            &:hover{background:#8B7E66;}
        }
    .all{  height:40px;
        line-height:40px;
        float:left;
        margin-left:45px;
        margin-right:55px;
        font-size:18px;
    }
    .shopcart{
        float:left;
        margin-left:450px;
        width:122px;
        height:24px;
        font-size:12px;
        margin-top:7px;
        text-align:center;
        line-height:24px;
        a{
            color:#000;
            width:140px;
            height:24px;
            display:block;
            background:#fff; 
            background:url(../img/shopcart.png) no-repeat 1px -75px ;
            em{color:red;}
        }
    }
    .cal{
        margin-top:7px;
        float:left;
        width:70px;
        height:24px;
        font-size:12px;
         line-height:24px;
        text-align:center;
        cursor:pointer;
        background:url(../img/shopcart.png) no-repeat -122px -75px ;
    }
}


//banner
.banner{
    min-width:1200px;
    position: relative;
    height: 480px;
    background: grey;
//  overflow: hidden;
cursor: pointer;
    .img-list{
        li{
            width: 100%;
            height: 480px;
        }
        
    }

    .banner-nav-list{
        position: absolute;
        left:518px; 
        bottom:16px;
        li{
            background: black;
            float: left;
            width: 50px; height: 10px;
            margin-right: 5px;
            cursor: pointer;
        }
        li.active{
            background: #d30c56;
            opacity: .5;
        }
    }
    
    .arr{
        opacity: 0;
        .toLeft {
            width: 60px;
            height: 60px;
            background: url(../img/btn.gif);
            position: absolute;
            left: 222px; top: 187px;
        }
        .toRight {
            width: 60px;
            height: 60px;
            background: url(../img/btn.gif) 0px 60px;
            position: absolute;
            right: 261px; top: 187px;
         }
    }
}

//<!--左侧静态广告实现-->
.categorybox{
    width:190px;
    height:481px;
    background:#f6f6f6;
    position:absolute;
    left:32px;
    top:0;
    div{
         width:190px;
          a{
              &:hover{
                  color:#FF8C00;
                  background:rgba(255,255,255,.3);
              }
              display:block;
              height:32px;
              font-size:14px;
              line-height:30px;
              color:#000;
          }
    }
}

//右侧广告栏
.notice{
    position:absolute;
    left:1000px;
    top:0;
//  background:#fff;
    width:227px;
    cursor: pointer;
    .notice_top{
       width:227px;
        height:40px;
        font-size:16px;
        line-height:40px;
        text-align:center;
        background:#fff;

    }
    .notice_middle{
         height:118px;
         padding-top:20px;
         background:rgba(255,255,255,.5);
        span{
            &:hover{color:red;}
             line-height:12px;   
             margin-left:23px;
            margin-bottom:9px;
            font-size:12px;
             display:block;
             margin-right:12px;
             overflow:hidden;
             white-space:nowrap;
        }
         span:nth-child(1),span:nth-child(2){
             color:red;
         }
    }
}

//秒杀
.miaosha_con{
    background:#fafafa;
    .miaosha{
        height:260px;
        padding-top:26px;
        padding-bottom:10px;
        background:#fff;
        .time{
            float:left;
            margin-right:9px;
            width:190px;
            height:250px;
            background:url(../img/miaosha_bj.jpg) no-repeat 0 0; 
            cursor: pointer;
            position:relative;
            span{
                position:absolute;
                display:block;
                height:30px;
                width:145px;
                left:23px;
                top:169px;
                font-size:25px;
                color:#fff;
            }
        }
        .product{
            float:left;
            position:relative;
            .product_list{
                width:200px;
                height:244px;
                margin:3px 0 3px 0;
    //          border-right: 1px  solid #fafafa;
                float:left;
                dl{
                    cursor: pointer;
                    dd{
                         text-align:center;
                    }
                    dd:nth-of-type(1){
                         margin-top:18px;
                        font-size:15px;
                        font-family: Microsoft Yahei;
                        font-weight:bold;
                    }
                    dd:nth-of-type(2){
                        font-size:12px;
                        font-family: Microsoft Yahei;
                        color:#887373;
                         font-weight:bold;
                    }
                    dt{
                        img{
                            margin:auto;
                            width:150px;
                            height:150px;
                        }
                    }
                }
                
                .qinggou_box{
                    display:block;
                    height:30px;
                    width:200px;
                    position:absolute;
                    bottom:0;
                    .qinggou{
                         height:30px;
                         width:200px;
                        background:url(../img/qinggou.png) no-repeat 0 0 ;
                        .qg_list{
                            span{color:#fff;text-align:center;}
                            span:nth-child(1){
                                font-size:20px;
                                font-family: Microsoft Yahei;
                                 font-weight: bold;
                                 margin-left: 8px;
                            }
                            span:nth-child(2){
                                font-size:12px;
                                text-decoration:line-through
                            }
                        }
                        
                    }
                }
            }
        }
    }
}
//返厂
.begin_con{
//  padding-bottom:20px;
    background:#fafafa;
}

//<!--楼层-->
.louti{
    background:#fafafa;
    #LoutiNav{
        position:fixed;
        width:40px;
        left:0;
        top:30%;
        background:rgba(139,139,122,.7);
        font-size:12px;
        display:none;
        cursor: pointer;
        z-index:10000;
        li{
            padding:3px;
            border:1px dotted #8B8B83;
        }
        .las{
            background:rgba(255,196,0,.8);
        }
    }
    #main{
        .Louti{
            height:541px;
            padding-bottom:20px;
            //头部
            .Louti_top{
                height:56px;
                .lists{
                    float:right;
                    height:30px;
                    padding:25px 0 0;
                    a{
                        &:hover{color:red;}
                        color:#000;
                        margin: 20px 10px 10px;
                        font-size: 14px;
                        font-family: "Microsoft YaHei";
                    }
                }
                
            }
            //中部
            .Louti_middle{
                    .Lleft{
                        width:199px;
                        height:415px;
                         float:left;
                         overflow:hidden;
                         a{
                             img{
                                 transition: all 0.6s; 
                                 &:hover{
                                    transform:scale(1.05); 
                                 }  
                             }
                            
                             
                         }
                    }
                    .Lcenter{
                         overflow:hidden;
                         width:399px;
                         height:415px;
                         float:left;
                         a{
                             img{
                                 transition: all 0.6s; 
                                 &:hover{
                                    transform:scale(1.05); 
                                 }  
                             }
                            
                             
                         }
                    }
                    .Lright{
                         float:left;
                         width:600px;
                         height:415px;
                         .Lright1{
                             float:left;
                             width:198px;
                             height:206px;
                             margin-top:5px;
                             border-bottom: 1px solid #f5f5f5;
                             border-right: 1px solid #f5f5f5;
                             overflow:hidden;
                             .Lright1_img{
                                 height:150px;
                                 width:150px;
                                  margin:auto;
                                  overflow:hidden;
                                 img{
                                     width:100%;
                                      transition: all 0.6s;  
                                     &:hover{
                                          transform:scale(1.05);
                                     }
                                    
                                 }
                             }
                             .Lright1_name{
                                 
                                 height:25px;
                                 width:150px;
                                  line-height:25px;
                                  text-align:center;
                                  overflow:hidden;
                                   padding-left:15px;
                                 a{
                                     display:block;
                                     font-size:12px;
                                     color:#000;
                                 }
                             }
                           .Lright1_price{
                                line-height: 22px;
                                display: block;
                                cursor: pointer;
                                height: 22px;
                                width:178px;
                                text-align:center;
                               a{
                                     font-family: Microsoft Yahei;
                                     font-size: 16px;
                                     color: #e30303;
                                     font-weight:bold;
                                     
                                 }
                           }
                         }
                    }
                   
                }
                
                //底部
                .Louti_bottom{
//                  margin-top:15px;
                     border-top: 1px solid #f5f5f5;
                    ul{
                        li{
                            img{
                                width:150px;
                                transition: all 0.6s;  
                                &:hover{
                                          transform:scale(1.05);
                                        }
                            }
                            float:left;
                        }
                    }
                }
        }
    }
}

.bottom{
    height:278px;
    padding-top:67px;
    .bottom_top{
        width:983px;
        height:150px;
        margin:0 auto;
         .top_left{
             width:250px;
            float:left;
            padding-top:20px;
            p{
                cursor: pointer;
                font-size:12px;
                line-height:12px;
                color:#999;
            }
            p:nth-child(1){
                margin-left:25px;
                margin-bottom:12px;
                a{
                    color:#333;
                }
            }
            p:nth-child(2){
                margin-left:25px;
                  margin-bottom:26px;
                a{
                    color:#333;
                }
            }
            p:nth-child(3){
                margin-left:80px;
                 margin-bottom:19px;
                a{color:#ff6600;}
            }
            p:nth-child(4){
                margin-left:115px;
                a{color:#ff6600;}
            }
         }
         .top_right{
              width:713px;
             float:left;
             span{
                  cursor: pointer;
                 width:126px;
                 float:left;
                 border-left:1px solid #999;
                 padding-left:14px;
                 li{
                     &:hover{color:green;}
                      cursor: pointer;
                     color:#999;
                     font-size:12px;
                     line-height:19px;
                 }
                 li:nth-child(1){
                     color:#000;
                 }
             }
         }
        
    }
    .bottom_bottom{
        width:975px;
        height:105px;
        margin:0 auto;
        position:relative;
        ul{
            float:left;
            width:100%;
            margin-bottom:12px;
            li{
                cursor: pointer;
                float:left;
                color:#333;
                font-size:12px;
                margin-right:20px;
                &:hover{color:green;}
            }
        }
        p{
            cursor: pointer;
            margin-bottom:11px;
            color:#999;
            font-size:12px;
            line-height:12px;
        }
        img{
            cursor: pointer;
            position:absolute;
            right:0;
            top:0;
            width:36px;
            height:50px;
        }
    }
}


